<a href="https://colab.research.google.com/github/ravizare/Rdz/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'Name':['Sahil','Neha','Seema','Saroj']
,'Age':['25','30','35','41'],'City':['Gangtok','Siliguri','Pelling','Imphal'],'Roll':['1234','5678','9101','1213',]}, index = [1, 2, 3, 4])

df2 = pd.DataFrame({'Name':['Azad','Khusbu','Tara','Milan']
,'Age':['27','36','45','51'],'City':['Ahmedabad','Kohima','Dispur','Shilong'],'Roll':['4321','8765','1516','2324']}, index = [5, 6, 7, 8])

print(pd.concat([df1,df2]))

     Name Age       City  Roll
1   Sahil  25    Gangtok  1234
2    Neha  30   Siliguri  5678
3   Seema  35    Pelling  9101
4   Saroj  41     Imphal  1213
5    Azad  27  Ahmedabad  4321
6  Khusbu  36     Kohima  8765
7    Tara  45     Dispur  1516
8   Milan  51    Shilong  2324

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'Name': ['Sahil', 'Neha', 'Seema', 'Saroj'], 'Age': ['25', '30', '35', '41'], 'City': ['Gangtok', 'Siliguri', 'Pelling', 'Imphal'], 'Roll': ['1234', '5678', '9101', '1213']}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({'Name': ['Azad', 'Khusbu', 'Tara', 'Milan'], 'Age': ['27', '36', '45', '51'], 'City': ['Ahmedabad', 'Kohima', 'Dispur', 'Shillong'], 'Roll': ['4321', '8765', '1516', '2324']}, index=[4, 5, 6, 7])

print(pd.concat([df1, df2]))

     Name Age       City  Roll
0   Sahil  25    Gangtok  1234
1    Neha  30   Siliguri  5678
2   Seema  35    Pelling  9101
3   Saroj  41     Imphal  1213
4    Azad  27  Ahmedabad  4321
5  Khusbu  36     Kohima  8765
6    Tara  45     Dispur  1516
7   Milan  51   Shillong  2324